.profile-image {
  float: left;

}

#profile-image {
   margin: 45px 40px 30px 45px;
}


#name {
  font-size: 30px;
}

ul {
    padding: 10px;
    background: black;
    text-align: center;
  }

li {
  color: white;
  display: inline;
  padding: 0px 10px 0px 10px;
}
