.profile-image {
  float: left;
  position: in
}

#profile-image {
   margin: 15px 40px 30px 45px;
}


#name, h1 {
  padding-top: 4px;
  display: inline;
}

#contact {
  display: inline;
  font-size: 20px;
  position: relative;
  top: -4px;

}

/*end of next to name*/

#resume-clip {
  width: 520px;
  opacity: .80;
  filter: alpha(opacity=20);
}

#smooth-streets-pic {
  width: 520px;
  opacity: .80;
  filter: alpha(opacity=20);
}

#link-to-resume, #link-to-challenge-post {
  color: red;
  float: right;
}

#name {
  font-size: 30px;
  position: relative;
}

h1 {
  margin-bottom: 2px;
}

ul {
    padding: 10px;
    background: black;
    text-align: center;
  }

li {
  color: white;
  display: inline;
  padding: 0px 10px 0px 10px;
}

.container .nine.columns {
margin: 45px 0px 0px 0px;
}

#rewind {
  float: right;
}

#seedly-content {
  display: inline;
  padding-top: 65px;
}

#seedly-logo {
  float: left;
}
