.profile-image {
  float: left;
  position: in
}

#profile-image {
   margin: 15px 40px 30px 45px;
}

/* this is at the end of the nav */
/*#contact {
  padding-left: 8px;
  display: inline-block;

  float: right;
  background-color: rgb(245, 240, 245);
}*/

/* this is setting it next to the name */
#name, h1 {
  display: inline;
}

#contact {
  display: inline;
  padding-left: 8px;
}

/*end of next to name*/

#resume-clip {
  /*margin-left: -34px;*/
  /*border:1px solid #7E7972;*/
  width: 520px;
  opacity: .80;
  filter: alpha(opacity=20);
}

#smooth-streets-pic {
  width: 520px;
  opacity: .80;
  filter: alpha(opacity=20);
}

#link-to-resume, #link-to-challenge-post {
  color: red;
  float: right;
}

#name {
  font-size: 30px;
  position: relative;
}

h1 {
  margin-top: 20px;
  margin-bottom: 2px;
}

ul {
    padding: 10px;
    background: black;
    text-align: center;
  }

li {
  color: white;
  display: inline;
  padding: 0px 10px 0px 10px;
}

.container .nine.columns {
margin: 45px 0px 0px 0px;
}
